<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads</title>
    <link rel="stylesheet" href="/static/thread.css">
    <link rel="stylesheet" href="/static/navbar.css">
</head>
<body>
    <nav class="navbar">
        <a href="home" class="logo">FORUM</a>
        <div class="nav-links">
            <ul>
                <li class="active"><a href="home">Home</a></li>
                <li class="active"><a href="#" id="newCatbtn">Nouvelle Catégories</a></li>
                <li class="active"><a href="#" id="newPostBtn">Nouveau Post</a></li>
                {{if .User.IsLoggedIn}}
                <li><a href="/logout">Logout</a></li>
                <li class="log"><i class="bx bx-user-circle"></i> Welcome, {{.User.Username}}</li>
                {{else}}
                <li class="log"><a href="/login">Login</a></li>
                {{end}}
            </ul>
        </div>
        {{if .User.IsLoggedIn}}
        <a href="profile" class="profile">acessprofil</a>
        {{end}}
        <div class="menumobile">
        </div>
        <img src="../img/menu-btn.png" alt="menu hamburger" class="menu-hamburger">
    </nav>
    <h1>Threads</h1>
    {{range .Categories}}
        <h2>{{.Title}}</h2>
        <ul>
            {{range .Threads}}
                <li>
                    {{.Title}} by {{.UserUsername}} at {{.CreatedAt.Format "02 Jan 2006 15:04:05"}}
                    <ul>
                        {{range .Posts}}
                            <li>{{.Content}} by {{.Username}} at {{.CreatedAt.Format "02 Jan 2006 15:04:05"}}</li>
                        {{end}}
                    </ul>
                    <form action="/create-post" method="POST">
                        <input type="hidden" name="thread_id" value="{{.ID}}">
                        <input type="hidden" name="user_id" value="{{$.User.ID}}">
                        <textarea name="content" placeholder="Votre réponse ici"></textarea>
                        <button type="submit">Répondre</button>
                    </form>
                </li>
            {{end}}
        </ul>
    {{end}}
</body>
</html>
