body { background-color: #cccccc; }
  
      .loader img {
        width: 8rem;
        height: 8.05rem;
        vertical-align: middle;
        animation: spin 1.0s linear infinite;
        text-indent: -9999px;
      }
      @keyframes spin {
          100% {
            transform: rotate(360deg);
          }
        }
      .loader {
        position: fixed;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }